<!-- Following Menu -->
<div class="ui blue top fixed inverted menu">
    <div class="ui container">
        <a href="#!/" class="item">Home</a>
        <!--<a href="#!/manager" ng-if="isAdmin" class="item">Manager</a>
        <a class="item" href="#!/monitor">Monitor</a>-->
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" ng-model="search" ng-keyup="onSearch()" placeholder="Search...">
                    <!--<button ng-click="onSearch()"><i class="search icon"></i></button>-->
                </div>
            </div>

        </div>

        <!--<div class="right menu">
                     
            <div class="item" ng-if="!userInfo.authenticated">
                <a href="#!/authentication" class="ui button">Log in</a>
            </div>
            <div class="item" ng-if="!userInfo.authenticated">
                <a href="#!/signup" class="ui primary button">Sign Up</a>
            </div>

            <div class="item" ng-if="userInfo.authenticated">
                <user-dropdown></user-dropdown>
            </div>
        </div>-->
    </div>
</div>