<!-- Page Contents -->
<div class="pusher" ng-controller=HomeController>
    <!-- Sidebar Menu -->    

    <div class="ui inverted vertical masthead center aligned segment">

        <!--<div class="ui container">
            <div class="ui large secondary inverted pointing menu" style="border-color: transparent;">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="active item">Home</a>                
                <a href="#!/profile" ng-if="userInfo.authenticated" class="item">Profile</a>
                <a class="item">Careers</a>
                <div class="right item">
                    <a href="#!/authentication" ng-if="!userInfo.authenticated" class="ui inverted button">Log in</a>
                    <a href="#!/signup" ng-if="!userInfo.authenticated" class="ui inverted button">Sign Up</a>
                    <a ng-if=" userInfo.authenticated" class="ui inverted button" ng-click="signout()" >Signout</a>
                </div>
            </div>
        </div>-->

        <div class="ui text container">
            <h1 class="ui inverted header">
                SharePoint Elastic Search
            </h1>
            <h2>Search whatever you want when you want to.</h2>
            <a class="ui huge primary button" href="#!/search">Get Started <i class="right arrow icon"></i></a>
        </div>

    </div>
</div>